# Ignoring specific folders
2D_Experiments/vin_28x28_test_cases/
2D_Experiments/vin_dataset_27x27/
3D_Experiments/3d_dataset_30x30x30/
AblationStudy_EffectofDeepNorm/multgoal_dataset/
AblationStudy_EffectofDeepNorm/singlegoal_dataset/
AblationStudy_EffectofDeepNorm/mazes_15_2_3000.npz

